Server/.vs/*
Server/out/*
Server/Server/out/*
Server/Server/CMakeSettings.json

Client/.vs/*
Client/out/*
Client/Client/out/*
Client/Client/CMakeSettings.json
Client/ChatApplication/.vs
.vs/
.vs/*
Client/ChatApplication/.vs/*
Client/ChatApplication/bin/*
Client/ChatApplication/bin
Client/ChatApplication/obj/*
Client/ChatApplication/obj
Client/WindowsApplication/bin/
Client/WindowsApplication/bin/*
Client/WindowsApplication/obj/*
Client/WindowsApplication/obj/
